
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* The login container area */

.login-container {
    border: 4.2px solid #62C370;
    border-radius: 5px;
    box-shadow: 0px 0px 9px #35683d;
    width: 40vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 0.7vh;
    padding-top: 0;
    position: relative;
    z-index: 5;
}

.login-container h1{
    font-size: 2.5rem;
}

.login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    padding: 14px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 5px;
}

/*------------------------------- */

/*The background star area*/

.background-star1{
    width: 4px;
    height: 4px;
    border-radius: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    animation: rise 17s ease-out infinite;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes rise {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(0);
    }
  }